@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(243, 243, 242);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
body{
  height: 120vh;
}
li, a, .contact-button{
  color: rgb(0, 0, 0);
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin-top: 0;
  height: 100px;
  width: 100%;
  z-index: 12;
}
.logo{
  height: 75px;
  width: 200px;
  object-fit: cover;
}
.logo-wrapper{
  margin-right: auto;
}
.nav-links{
  list-style: none;
  background-color: rgb(255, 255, 255);
}
.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a{
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
  color: rgb(0, 0, 0, 0.7);
}
button{
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(17, 194, 26);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: rgba(34, 180, 43, 1);
}
.background{
  height: 55vh;
  width: 100%;
  object-fit: cover;
}
.title{
  color: white;
  background-color: transparent;
  position: absolute;
  top: 25%;
  left: 38%;
}
.quote-button{
  position: absolute;
  top: 34%;
  left: 48%;
  background-color: transparent;
}
.our-mission{
  position: absolute;
  background-color: transparent;
  font-size: 25px;
  top: 61%;
  left: 35%;
}
.mission-background{
  position:absolute;
  background-color: rgb(255, 255, 255);
  height: 215px;
  width: 835px;
  top: 59%;
  left: 33%;
  border-radius: 20px;
}
.mission-statement{
  position: absolute;
  background-color: transparent;
  font-size: 15px;
  text-align: justify;
  max-width: 40%;
  top: 67%;
  left: 35%;
}
.why-us{
  position: absolute;
  background-color: transparent;
  font-size: 25px;
  top: 86%;
  left: 35%;
}
.why-us-background{
  position:absolute;
  background-color: rgb(255, 255, 255);
  height: 270px;
  width: 835px;
  top: 84%;
  left: 33%;
  border-radius: 20px;
}
.why-us-statement{
  position: absolute;
  background-color: transparent;
  font-size: 15px;
  text-align: justify;
  max-width: 40%;
  top: 92%;
  left: 35%;
}